<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a (click)="toggleNav()" class="navbar-brand" routerLink="/">
      <i class="fas fa-leaf"></i>
    </a>

  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a (click)="toggleNav()" class="nav-link" routerLink="/shopping-cart">
            <i class="fas fa-shopping-cart"></i> Cart
          <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">{{ cart.totalItemsCount }}</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav w">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a (click)="toggleNav()" class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
            {{ appUser.name }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item curs2" style="font-size: 10px;">Logged in with {{ user.providerData[0].providerId }}</a>
            <a (click)="toggleNav()" class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <ng-container *ngIf="appUser && appUser.isAdmin">
              <a (click)="toggleNav()" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
              <a (click)="toggleNav()" class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>
            <a class="dropdown-item curs" (click)="signOut()">Log Out</a>
          </div>
        </li>
      </ul>
  </div>
</nav>