img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    opacity: 0.8;
}

th {
    min-width: 200px;
}

.q{
    min-width: 120px;
}

.w{
    width: 90%;
    min-width: 650px;
    padding: 10px;
    display: block;

}

.w p{
    display: inline;
}

.btn-light{
    float: right;
    margin: 0;

}