<div *ngIf="orders.length && user" class="row col-10">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Order Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td><img [src]="user.photoURL" style="height: 30px; width: 30px; border-radius: 50%;margin-right: 6px;"> {{ user.displayName }} </td>
        <td> {{ getOrderDate(order.datePlaced) }} </td>
        <td> <a routerLink="/order/summary" [queryParams]="{orderId:order.$key}" >View</a> </td>
      </tr>
    </tbody>
  </table>
</div>