<div class="row">
  <div style="margin-bottom: 20px;" class="col-md-3">
    <products-filter [category]="category"></products-filter>
  </div>

  <div class="col-md-9">
    <div class="row" *ngIf="cart$ | async as cart">
      <ng-container *ngFor="let p of filterdProducts; let i = index;">
        <div  class="col-md-4">
          <product-card [product]="p" [show-actions]="true" [shopping-cart]="cart"></product-card>
        </div>
        <div *ngIf="(i+1) % 3 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>